@charset "utf-8";   
@import url("webfonts/JosefinSansStd_Light/stylesheet.css");
@import url("webfonts/Chantelli_Antiqua/stylesheet.css");


img {
	border: 2px solid #333;
}


/* Simple fluid media   
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
#nav ul {
	margin: 0px;
	padding: 0px;
}
#nav ul li {
	list-style-type: none;
	font-family: "JosefinSansStd Light";
	font-size: 1.4em;
	text-align: center;
}

h1 {
	font-family: "Chantelli Antiqua";
	color: #FFF;
	margin-right: 1em;
	text-shadow: 2px 2px 2px #000;
}

h2 {
	font-family: "JosefinSansStd Light";
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#nav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#nav ul li {
	background-color: #C2CFE2;
	padding: 0.4em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	border: 2px solid #FFF;
	border-radius: 1.5em 0px 1.5em 0px;
}

#banner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background-image: url(../images/Gaudi-Banner-480.jpg);
	background-repeat: no-repeat;
	text-align: right;
	height: 232px;
	margin-bottom: 1em;
}
#banner h1 {
	font-size: 1.5em;
	line-height: 1.5em;
}

#article1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#article1 img {
	float: right;
	margin-bottom: .8em;
	margin-left: .8em;
}


#article2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#article3 img {
	float: right;
	margin-bottom: .8em;
	margin-left: .8em;
}



#article3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#article2 img {
	float: right;
	margin-bottom: .8em;
	margin-left: .8em;
}
#article4 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#article4 img {
	float: right;
	margin-bottom: .8em;
	margin-left: .8em;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	font-size: 0.8em;
	background-color: #5e7dac;
	text-align: center;
	border: 2px solid #FFF;
	border-radius: 1.5em 0px 1.5em 0px;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#nav ul li {
	display: inline;
	padding: 0.8em;
	margin-right: 0.4em;
	margin-top: 1em;
	float: left;
}

#nav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#banner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background-image: url(../images/Gaudi-Banner-768.jpg);
	background-repeat: no-repeat;
	height: 372px;
}
#banner h1 {
	font-size: 2em;
}

#article1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 23.0769%;
	display: block;
}
#article1 img {
	float: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1em;
	margin-left: 0px;
}
#article2 img {
	float: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1em;
	margin-left: 0px;
}
#article3 img {
	float: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1em;
	margin-left: 0px;
}
#article4 img {
	float: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1em;
	margin-left: 0px;
}




#article2 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 23.0769%;
	display: block;
}
#article3 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 23.0769%;
	display: block;
}
#article4 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	width: 23.0769%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#nav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#nav ul li {
	font-size: 1.5em;
	margin-right: 1ex;
}

#banner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background-image: url(../images/Gaudi-Banner1232.jpg);
	background-repeat: no-repeat;
	height: 393px;
	margin-bottom: 2em;
}
#banner h1 {
	font-size: 3em;
}

#article1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.9795%;
	display: block;
}
#article1 img {
	float: right;
	margin-bottom: 0.8em;
	margin-left: 0.8em;
	padding: 1em;
}

#article2 img {
	float: right;
	margin-bottom: 0.8em;
	margin-left: 0.8em;
	padding: 1em;
}
#article3 img {
	padding: 1em;
	float: right;
	margin-bottom: .8em;
	margin-left: .8em;
}

#article4 img {
	padding: 1em;
	float: right;
	margin-bottom: .8em;
	margin-left: .8em;
}


#article2 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 48.9795%;
	display: block;
}
#article3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.9795%;
	display: block;
}



#article4 {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 48.9795%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}